[submodule "v4l2wrapper"]
	path = v4l2wrapper
	url = https://github.com/mpromonet/v4l2wrapper
[submodule "civetweb"]
	path = civetweb
	url = https://github.com/civetweb/civetweb
[submodule "libhttpjsonserver"]
	path = libhttpjsonserver
	url = https://github.com/mpromonet/libhttpjsonserver
