<!DOCTYPE html>
<html ng-app="App">
<head>
	<title>V4L2 Controls</title>
	<script src="angular.min.js"></script>
	<script src="angular-resource.min.js"></script>
	<script>
		// app
		angular.module('App', ['App.controllers','App.services']);
		
		// controller
		angular.module('App.controllers', []).controller('AppController', function($scope, Api) {
			Api.controlList.query(function(data) { $scope.controlList = data; } );
			
			$scope.update = function(controlid,controlvalue,idx) {
				var ctrl = {};
				ctrl.id = parseInt(controlid);
				ctrl.value = parseInt(controlvalue); 
				Api.control.update(ctrl,function(data) { $scope.controlList[idx].value = data.value; } );
			};			
		}).directive('ngMin', function() {
			return {
				restrict: 'A',
				require: 'ngModel',
				link: function(scope, elem, attr) { elem.attr('min', attr.ngMin); }
			};
		}).directive('ngMax', function() {
			return {
				restrict: 'A',
				require: 'ngModel',
				link: function(scope, elem, attr) { elem.attr('max', attr.ngMax); }
			};
		});		
		
		// service
		angular.module('App.services', ['ngResource']).factory('Api', ['$resource', function($resource){ 
				return {
						controlList : $resource('/controls'),
						control : $resource('/control',{},{'update':{method:'POST'}})
				};
			} 
		]);	

	</script>
</head>
<body ng-controller="AppController" >
	<table>
		<h3><center>V4L2 Controls</center></h3>
		<thead>
			<tr>
				<th>Name</th>
				<th>Current</th>
				<th>Min</th>
				<th>Max</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="control in controlList track by $index" >
				<td>{{control.name}}</td>
				<td>{{control.value}}</td>
				<td>{{control.minimum}}</td>
				<td>{{control.maximum}}</td>
				<td>
					<select ng-if="control.menu" 
							ng-init="choice = ( control.menu | filter:{value:control.value}:true ) [0]" 
							ng-model="choice" 
							ng-options="menu.label for menu in control.menu"
							ng-change="update(control.id,choice.value,$index)"
							style="width: 300px"/>
					<input id="{{control.name}}" ng-if="!control.menu && !( (control.minimum==0) && (control.maximum==1) )"
							ng-model="controlList[$index].value"
							ng-trim="false" 
							ng-change="update(control.id,controlList[$index].value,$index)"
							ng-min="{{controlList[$index].minimum}}"
							ng-max="{{controlList[$index].maximum}}"
							type="range" 
							step="{{controlList[$index].step}}"
							style="width: 300px; margin: 0px"/>
					<input ng-if="!control.menu && ( (control.minimum==0) && (control.maximum==1) )"
							ng-init="checked = controlList[$index].value" 
							ng-checked="checked == 1"
							ng-model="checked" ng-true-value="1" ng-false-value="0"
							ng-change="update(control.id,checked,$index)"
							type="checkbox" />
				</td>
			</tr>      
		</tbody>
	</table>
</body>
</html>
