<!DOCTYPE html>
<html ng-app="App">
<head>
	<title>V4L2 Formats</title>
	<script src="angular.min.js"></script>
	<script src="angular-resource.min.js"></script>
	<script src="angular-ui-utils.min.js"></script>	
	<script>
		// app
		var app = angular.module('App', ['ngResource','ui.utils']);

		// service
		app.factory('$api', ['$resource', function($resource){ 
			return { 
				formatList : $resource('/formats'), 
				format : $resource('/format', {}, 
							{'query':{method:'GET', isArray:false} },
							{'update':{method:'POST'} }
						  ) 
			};
		}]);	

		// controller
		app.controller('AppController', function($scope, $api, $log) {			
			$api.formatList.query(function(data) { 
				$scope.formatList = data; 
				$api.format.query(function(data) { 
					$scope.currentformat = data; 
					$scope.updateSelectedFormat();
				} );
			} );	
			
			$scope.update= function(format,width,height,fps) {
				if (format) $scope.currentformat.format = format;
				if (width) $scope.currentformat.width = parseInt(width);
				if (height) $scope.currentformat.height = parseInt(height);
				if (fps) $scope.currentformat.fps = parseInt(fps);
				$scope.currentformat.$save(function(data) {
					$scope.updateSelectedFormat();
				});
			}

			$scope.updateSelectedFormat= function(format) {
				$scope.selectedFormat = $scope.formatList.filter(function(item) { return item.format === $scope.currentformat.format; }) [0];
				$scope.selectedFormat.width = $scope.currentformat.width;
				$scope.selectedFormat.height = $scope.currentformat.height;
				$scope.selectedFormat.fps = $scope.currentformat.fps;
			}			
		});
		
	</script>
</head>
<body ng-controller="AppController">
	<h3><center>V4L2 Formats</center></h3>
	<table>
		<tbody>
			<tr>
				<td>format</td>
				<td>				
					<select ng-model="selectedFormat"
						ng-change="update(selectedFormat.format)" 					
						ng-options="format.format for format in formatList" />
				</td>
				<td>
					{{selectedFormat.description}}
				</td>
			</tr>
			<tr ng-repeat="item in ['width', 'height']">				
				<td>{{item}}</td>
				<td>
					<input  ng-model="selectedFormat[item]" 
						ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="text" size="5"/>
				</td>
				<td>
					{{selectedFormat.frameSizes[0][item].min}}
					<input  
						ng-model="selectedFormat[item]"
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="range"
						min="{{selectedFormat.frameSizes[0][item].min}}" 
						max="{{selectedFormat.frameSizes[0][item].max}}" 
						step="{{selectedFormat.frameSizes[0][item].step}}" style="margin: 0px; padding: 0px"/>
					{{selectedFormat.frameSizes[0][item].max}}		
				</td>
			</tr>
			<tr>
				<td>fps</td>
				<td>
					<input  ng-model="selectedFormat.fps" 
						ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="text" size="5"/>
				</td>
				<td>
					{{selectedFormat.frameSizes[0].intervals[0].fps.min}}
					<input  ng-model="selectedFormat.fps" 
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="range" 
						min="{{selectedFormat.frameSizes[0].intervals[0].fps.min}}" 
						max="{{selectedFormat.frameSizes[0].intervals[0].fps.max}}" 
						step="{{selectedFormat.frameSizes[0].intervals[0].fps.step}}" style="margin: 0px; padding: 0px"/>
					{{selectedFormat.frameSizes[0].intervals[0].fps.max}}
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
