<!DOCTYPE html>
<html ng-app="App">
<head>
	<title>V4L2 Formats</title>
	<script src="angular.min.js"></script>
	<script src="angular-resource.min.js"></script>
	<script src="angular-ui-utils.min.js"></script>	
	<script>
		// app
		angular.module('App', ['App.controllers','App.services','ui.utils']);
		
		// controller
		angular.module('App.controllers', []).controller('AppController', function($scope, Api) {
			Api.format.query(function(data) { 
				$scope.currentformat = data; 
				Api.formatList.query(function(data) { 
					$scope.formatList = data; 
					$scope.updateSelectedFormat();
				} );	
			} );
			
			$scope.update= function(format,width,height,fps) {
				if (format) $scope.currentformat.format = format;
				$scope.currentformat.width = parseInt(width);
				$scope.currentformat.height = parseInt(height);
				$scope.currentformat.fps = parseFloat(fps);
				$scope.currentformat.$save(function(data) {
					$scope.updateSelectedFormat();
				});
			}

			$scope.updateSelectedFormat= function(format) {
				$scope.selectedFormat = $scope.formatList.filter(function(item) { return item.format === $scope.currentformat.format; }) [0];
				$scope.selectedFormat.width = $scope.currentformat.width;
				$scope.selectedFormat.height = $scope.currentformat.height;
				$scope.selectedFormat.fps = $scope.currentformat.fps;
			}
		});
		
		// service
		angular.module('App.services', ['ngResource']).factory('Api', ['$resource', function($resource){ 
				return { 
						formatList : $resource('/formats'), 
						format : $resource('/format', {}, 
									{'query':{method:'GET', isArray:false} },
									{'update':{method:'POST'} }
								  ) 
					};
			} 
		]);	
	</script>
</head>
<body ng-controller="AppController">
	<h3><center>V4L2 Formats</center></h3>
	<table>
		<thead>
			<tr>
				<th>Format</th>
				<th>Width</th>
				<th>Height</th>
				<th>Fps</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select ng-model="selectedFormat"
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)" 					
						ng-options="format.format for format in formatList" />
				</td>
				<td>
					<input  ng-model="selectedFormat.width" 
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="text" size="5"/>
					<input  ng-model="selectedFormat.width"
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="range"
						min="{{selectedFormat.frameSizes[0].width.min}}" 
						max="{{selectedFormat.frameSizes[0].width.max}}" 
						step="{{selectedFormat.frameSizes[0].width.step}}"/>
				</td>
				<td>
					<input  ng-model="selectedFormat.height" 
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="text" size="5"/>
					<input  ng-model="selectedFormat.height" 
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="range" 
						min="{{selectedFormat.frameSizes[0].height.min}}" 
						max="{{selectedFormat.frameSizes[0].height.max}}" 
						step="{{selectedFormat.frameSizes[0].height.step}}"/>
				</td>
				<td>
					<input  ng-model="selectedFormat.fps" 
						type="text" size="5"/>
					<input  ng-model="selectedFormat.fps" 
						ng-change="update(selectedFormat.format, selectedFormat.width, selectedFormat.height, selectedFormat.fps)"
						type="range" 
						min="{{selectedFormat.frameSizes[0].intervals.min}}" 
						max="{{selectedFormat.frameSizes[0].intervals.max}}" 
						step="{{selectedFormat.frameSizes[0].intervals.step}}"/>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
