<!DOCTYPE html>
<html ng-app="App">
<head>
	<title>V4L2</title>
	<script src="angular.min.js"></script>
	<script src="angular-resource.min.js"></script>		
 	
	<script src="app.js" ></script>
	
	<script src="ws.js" ></script>	
</head>
<body ng-controller="AppController">
	<h2><center>{{inputs[0].name}} {{capabilities.bus_info}}</center></h2>
	
	<center>	
		<button ng-click="sel = 'video'"   ng-disabled="sel == 'video'"  ng-init="sel = 'video'" >Live</button>
		<button ng-click="sel = 'format'"  ng-disabled="sel == 'format'"  >Format</button>
		<button ng-click="sel = 'control'" ng-disabled="sel == 'control'" >Controls</button>
	</center>
	<tabset>    
	  <tab ng-repeat="tab in tabs" ng-model="tab" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">  
	      <div ng-include src="tab.url" ng-show="sel == tab.title"> </div>
	    </tab>
	</tabset>			
</body>
</html>
