<div ng-controller="AppVidController">
	<table>
		<thead>
			<tr>
				<th><button ng-click="captureStart()">Start WebSocket</button><button ng-click="captureStop()">Stop WebSocket</button></th>
				<th><button ng-click="mjpegStart()">Start MJPEG</button><button ng-click="mjpegStop()">Stop MJPEG</button></th>
			</tr>
		</thead>
		<tbody ng-style="{ width: format.width + 'px', height: format.height + 'px' }">
			<tr>
				<td><img id="wsimage"   ></img></td>
				<td><img id="mjpegimage"></img></td>
			</tr>
		</tbody>
	</table>
	<div id="output" ></div>
</div>	
